.footer {
  border-top: 1px solid #000;
  background: #fff;
  padding: 1rem 10% 1.5rem;
  h2 {
    text-align: center;
    margin: 0 0 1rem;
  }
  .footerWrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}