.app {
  padding: 2rem 10%;
  @media (max-width: 500px) {
    padding: 2rem 5%;
  }
  h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
  }
}